:root{
    --custom-black: #0C0809;
    --custom-red: #C42021;
    --custom-yellow: #F3FFB9;
}

h1 {
    color: #C42021;
}


/* Custom classes */
.bg-custom-black {
    background-color: var(--custom-black);
}

.bg-custom-red {
    background-color: var(--custom-red);
}

.bg-custom-yellow {
    background-color: var(--custom-yellow);
}

.text-orange-custom {
    color: orange;
}

.text-yellow-custom{
    color: var(--custom-yellow);
}

.text-red-custom{
    color: var(--custom-red);
}

.text-black-custom{
    color: var(--custom-black);
}

#hero-image-container {
    background: url('/media/guitaronfire-medium.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: calc(100vh - 92px);
}

#shop-now-btn {
    color: white;
    background-color: var(--custom-red);
    border: 1px solid white;
}