:root{
    --custom-black: #0C0809;
    --custom-red: #C42021;
    --custom-yellow: #F3FFB9;
}

h1 {
    color: #C42021;
}

/* Custom bg and color classes */
.bg-custom-black {
    background-color: var(--custom-black);
}

.bg-custom-red {
    background-color: var(--custom-red);
}

.bg-custom-yellow {
    background-color: var(--custom-yellow);
}

.text-orange-custom {
    color: orange;
}

.text-yellow-custom{
    color: var(--custom-yellow);
}

.text-red-custom{
    color: var(--custom-red);
}

.text-black-custom{
    color: var(--custom-black);
}

/* Landing page */
#hero-image-container {
    background: url('/media/guitaronfire-medium.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: calc(100vh - 92px);
}

#shop-now-btn {
    color: white;
    background-color: var(--custom-red);
    border: 1px solid white;
}

#current-page{
    background-color: #d3d9e3;
}

/* Buttons */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.remove-btn {
    background-color: var(--custom-red);
    color: white;
    border: none;
    font-weight: 300;
    border: 1px solid black;
}

.back-btn {
    padding: 2px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 2px;
}

.alert-close-btn {
    border: none;
    background-color: transparent;
}

/* Messages */
.alert{
    list-style-type: none;
}

/* checkout page */

#payment-form .form-control,
#card-element{
    color: var(--custom-black);
    border: 1px solid var(--custom-black);
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 8, 9, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}