{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container my-2">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4">
                    My Profile
                </h2>
                <hr>
            </div>
        </div>
        {{ profile }}
{% endblock %}
