{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container my-2">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4">
                    Checkout
                </h2>
                <hr>
            </div>
        </div>
        <p>
            <a href="{% url 'view_cart' %}" class="text-black-custom back-btn mr-3">
                <span class="icon">
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span class="font-weight-bold">Back to Cart</span>
            </a>
        </p>

        <div class="row">
            <div class="col">
                <p>To complete your purchase, fill out the form below</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="px-3 mb-5 rounded">
                        <legend class="fieldset-label small text-custom-black px-2 w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="px-3 mb-5 rounded">
                        <legend class="fieldset-label small text-custom-black px-2 w-auto">Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="px-3 mb-5 rounded">
                        <legend class="fieldset-label small text-custom-black px-2 w-auto">Payment</legend>
                        <div class="mb-3 p-1 rounded bg-white" id="card-element"></div>
                        <div class="mb-3 text-danger" id="card-errors" role='alert'></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button text-center mt-5 mb-2">                    
						<button id="submit-button" class="btn btn-primary rounded ml-3">
							<span class="font-weight-bold">Proceed to secure payment</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fa-solid fa-money-bill-transfer"></i>
							</span>
							<span>You are about to pay: <strong>€{{ grand_total|floatformat:2 }}</strong></span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fa-solid fa-compact-disc fa-spin fa-2xl text-yellow-custom"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key | json_script:"id_stripe_public_key" }}
    {{ client_secret | json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}