{% extends 'base.html' %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<!-- Modal for product image-->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ product.name|title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                {% if product.image %}
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 my-1">
            <a href="{% if referrer_page %}{{ referrer_page }}{% else %}{% url 'products' %}{% endif %}" class="text-black-custom back-btn">
                <i class="fa-solid fa-arrow-left"></i>
                Keep Shopping
            </a>
        </div>
        {% if product.availability < 1 %}
            <div class="col-12 my-1 text-center">
                <h3>Sorry, this product is not available at this time.</h3>
            </div>
        {% endif %}
        <div class="col-sm-12 col-md-4 col-lg-4 my-4 bg-light">
            <div class="card h-100 bg-white">
                {% if product.image %}
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top d-none d-md-flex" alt="{{ product.name }}" data-bs-toggle="modal" data-bs-target="#imageModal">
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top d-flex d-md-none" alt="{{ product.name }}">
                {% else %}
                    <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top" alt="No image for this product">
                {% endif %}
                <div class="card-body">
                    {% if product.avg_rating %}
                        <i class="fas fa-star{% if product.avg_rating >= 1 %} text-orange-custom{% endif %}"></i>
                        <i class="fas fa-star{% if product.avg_rating >= 2 %} text-orange-custom{% endif %}"></i>
                        <i class="fas fa-star{% if product.avg_rating >= 3 %} text-orange-custom{% endif %}"></i>
                        <i class="fas fa-star{% if product.avg_rating >= 4 %} text-orange-custom{% endif %}"></i>
                        <i class="fas fa-star{% if product.avg_rating >= 5 %} text-orange-custom{% endif %}"></i>
                        {{ product.avg_rating }}/5 
                        <small>({{ product.total_ratings }} ratings)</small>
                    {% else %}
                        No rating yet
                    {% endif %}
                    {% if user.is_authenticated %}
                        <p class="text-right mb-0 mt-1">Rate this product:</p>
                        <form action="{% url 'add_rating' product.id %}" method="POST" class="text-right" id="rating-form">
                            {% csrf_token %}
                            <input type="radio" id="rating-1" name="rating" value="1" class="d-none">
                            <label for="rating-1"><i class="fas fa-star"></i></label>
                            <input type="radio" id="rating-2" name="rating" value="2" class="d-none">
                            <label for="rating-2"><i class="fas fa-star"></i></label>
                            <input type="radio" id="rating-3" name="rating" value="3" class="d-none">
                            <label for="rating-3"><i class="fas fa-star"></i></label>
                            <input type="radio" id="rating-4" name="rating" value="4" class="d-none">
                            <label for="rating-4"><i class="fas fa-star"></i></label>
                            <input type="radio" id="rating-5" name="rating" value="5" class="d-none">
                            <label for="rating-5"><i class="fas fa-star"></i></label>
                        </form>
                    {% endif %}
                    <p>{{ product.price }} €</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 my-4 border text-center">
            <h5 class="card-title">{{ product.name|title }}</h5>
            <h6 class="card-subtitle mb-2"><a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">{{ product.category.friendly_name|title }}</a></h6>
            <hr>
            <p class="card-text">
                {{ product.description }}
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <form action="{% url 'add_to_cart' product.id %}" method="POST" class="mb-4">
            {% csrf_token %}
            <div class="col-12">
                {% if is_in_cart %}
                    <p class="border rounded p-1 text-center">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        This item is already in your cart
                    </p>
                {% endif %}
                {% if product.availability > 0 %}
                    <strong class="mx-1">Quantity: </strong>
                    <select name="quantity" class="quantity-input">
                        {% for x in product.availability_range %}
                            <option value="{{ forloop.counter }}" {% if forloop.counter == quantity_in_cart %}selected{% endif %}>
                                {{ forloop.counter }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="mx-1 btn btn-dark">{% if is_in_cart %}Update quantity{% else %}Add to cart{% endif %}</button>
                {% endif %}
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </form>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <hr>
            <h3>Ask a question about this product!</h3>
            <form action="{% url 'add_question' product.id %}" method="POST" class="text-center">
                {% csrf_token %}
                {{ question_form | crispy }}
                <button class="btn btn-primary">Submit question</button>
            </form>
            <hr>
        </div>
        {% if product.questions %}
            {% for question in product.questions.all %}
                <div class="col-12 mb-3">
                    <div class="card mx-auto shadow border-custom-red">
                        <div class="card-body">
                        <h5 class="card-title">{{ question.user }} asked:</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ question.date }}</h6>
                        <p class="card-text">{{ question.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}

<script>
    // Hover effect for stars (rating)
    let form_labels = $('#rating-form > label');
    form_labels.hover(function(){
        $(this).css('color', 'orange');
        console.log(`current element: ${$(this).attr('for')}`)
        console.log(`current element control value: ${$(this)[0].control.value}`)
        
        let current_checkbox_value = $(this)[0].control.value;
        form_labels.each(function() {
            if ($(this)[0].control.value <= current_checkbox_value){
                $(this).css('color', 'orange');

                console.log($(this)[0].control.value)
            } else {
                $(this).css('color', 'black');
            }
        })

    }, function(){
        form_labels.each(function(){
            $(this).css('color', 'black');
        })
    });

    // Submits the rating on click
    let rating_form = $('#rating-form').click(function(){
        $(this).submit();
    })
</script>
{% endblock %}