{% extends 'base.html' %}

{% block content %}
<!-- Modal for product image-->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ product.name|title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                {% if product.image %}
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 my-1">
            <a href="{% if referrer_page %}{{ referrer_page }}{% else %}{% url 'products' %}{% endif %}" class="text-black-custom back-btn">
                <i class="fa-solid fa-arrow-left"></i>
                Keep Shopping
            </a>
        </div>
        {% if product.availability < 1 %}
            <div class="col-12 my-1 text-center">
                <h3>Sorry, this product is not available at this time.</h3>
            </div>
        {% endif %}
        <div class="col-sm-12 col-md-4 col-lg-4 my-4 bg-light">
            <div class="card h-100 bg-white">
                {% if product.image %}
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top d-none d-md-flex" alt="{{ product.name }}" data-bs-toggle="modal" data-bs-target="#imageModal">
                    <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top d-flex d-md-none" alt="{{ product.name }}">
                {% else %}
                    <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top" alt="No image for this product">
                {% endif %}
                <div class="card-body">
                    {% if product.rating %}
                        <i class="fas fa-star{% if product.rating >= 1 %} text-orange-custom{% endif %}"></i>
                        <i class="fas fa-star{% if product.rating >= 2 %} text-orange-custom{% endif %}"></i>
                        <i class="fas fa-star{% if product.rating >= 3 %} text-orange-custom{% endif %}"></i>
                        <i class="fas fa-star{% if product.rating >= 4 %} text-orange-custom{% endif %}"></i>
                        <i class="fas fa-star{% if product.rating >= 5 %} text-orange-custom{% endif %}"></i>
                        {{ product.rating }}/5
                    {% else %}
                        No rating yet
                    {% endif %}
                    <p>{{ product.price }} €</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 my-4 border text-center">
            <h5 class="card-title">{{ product.name|title }}</h5>
            <h6 class="card-subtitle mb-2"><a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">{{ product.category.friendly_name|title }}</a></h6>
            <hr>
            <p class="card-text">
                {{ product.description }}
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <form action="{% url 'add_to_cart' product.id %}" method="POST" class="mb-4">
            {% csrf_token %}
            <div class="col-12">
                {% if is_in_cart %}
                    <p class="border rounded p-1 text-center">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        This item is already in your cart
                    </p>
                {% endif %}
                {% if product.availability > 0 %}
                    <strong class="mx-1">Quantity: </strong>
                    <select name="quantity" class="quantity-input">
                        {% for x in product.availability_range %}
                            <option value="{{ forloop.counter }}" {% if forloop.counter == quantity_in_cart %}selected{% endif %}>
                                {{ forloop.counter }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="mx-1 btn btn-dark">{% if is_in_cart %}Update quantity{% else %}Add to cart{% endif %}</button>
                {% endif %}
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </form>
    </div>
</div>
{% endblock %}