{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in page_obj %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4 bg-light">
                <div class="card h-100 bg-white">
                    {% if product.image %}
                        <a href="#">
                            <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="#">
                            <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top" alt="No image for this product">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ product.category.friendly_name }}</h6>
                        <hr>
                        <p class="card-text">
                            {{ product.description|truncatechars:200 }}
                            <hr>
                            {% if product.rating %}
                                <i class="fas fa-star{% if product.rating >= 1 %} text-orange-custom{% endif %}"></i>
                                <i class="fas fa-star{% if product.rating >= 2 %} text-orange-custom{% endif %}"></i>
                                <i class="fas fa-star{% if product.rating >= 3 %} text-orange-custom{% endif %}"></i>
                                <i class="fas fa-star{% if product.rating >= 4 %} text-orange-custom{% endif %}"></i>
                                <i class="fas fa-star{% if product.rating >= 5 %} text-orange-custom{% endif %}"></i>
                                {{ product.rating }}/5
                            {% else %}
                                No rating yet
                            {% endif %}
                        </p>
                        <p>{{ product.price }} €</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

<div class="pagination mt-2 mb-4 h4 d-flex justify-content-center text-light">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}